body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: hsl(60, 50%, 95%);
}

h1,
h2 {
    background-color: hsl(240, 90%, 75%);
    color: white;
}

.recipe-list {
    list-style-type: none;
}

img {
    width: 350px;
    height: auto;
}

.disclaimer {
    font-size: 12px;
    font-weight: 800;
}
